:root {
  --gap: 20px;
  --gap-m: 15px;
  --gap-s: 10px;
  --main: #40587c;
  --contrast: #ec9669;
  --font-size: 13px;
}
* {
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: #40587c;
  color: white;
}

.orange::selection {
  background-color: var(--contrast);
}