* {
  box-sizing: border-box;
  transition: background-color .4s linear;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: var(--main);
  color: white;
}

.orange::selection {
  background-color: var(--contrast);
}